:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    header {
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1 1 0;

        overflow-y: scroll;
    }

    footer {
        margin-top: auto;
    }
}