<div class="docs-footer-list">
  <div class="docs-footer-logo">
    <div class="footer-logo">
      <svg
          _ngcontent-ng-c3052461960=""
          x="0px"
          y="0px"
          width="96px"
          height="96px"
          viewBox="0 0 960 960"
        >
          <polygon
            _ngcontent-ng-c3052461960=""
            points="562.6,109.8 804.1,629.5 829.2,233.1"
          ></polygon>
          <polygon
            _ngcontent-ng-c3052461960=""
            points="624.9,655.9 334.3,655.9 297.2,745.8 479.6,849.8 662,745.8"
          ></polygon>
          <polygon
            _ngcontent-ng-c3052461960=""
            points="384.1,539.3 575.2,539.3 479.6,307"
          ></polygon>
          <polygon
            _ngcontent-ng-c3052461960=""
            points="396.6,109.8 130,233.1 155.1,629.5"
          ></polygon></svg>
      <span>Проверочное задание</span>
    </div>
  </div>
  <div class="docs-footer-copyright">
    <div>
      <a href="https://github.com/angular/components/blob/main/LICENSE" rel="noopener" target="_blank">Код лицензирован по MIT</a>
    </div>
  </div>
</div>
